{% extends "base.html" %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/feature.js') }}"></script>
{% endblock %}


{% block content %}
<div id="feature_list" data-bind="visible: show">
<h3>Feature List</h3>
    <table class="table table-striped">
        <tr>
            <td>Title</td>
            <td>Client</td>
            <td>Client Priority</td>
            <td>Target Date</td>
            <td>Product Area</td>
            <td>Actions</td>
        </tr>
        <!-- ko foreach: features -->
        <tr>
            <td data-bind="text: title"></td>
            <td data-bind="text: client"></td>
            <td data-bind="text: client_priority"></td>
            <td data-bind="text: target_date"></td>
            <td data-bind="text: product_area"></td>
            <td>
                <button data-bind="click: $parent.beginEdit" class="btn btn-secondary">Edit</button>
                <button data-bind="click: $parent.remove" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <!-- /ko -->
    </table>
    <button data-bind="click: beginAdd" class="btn btn-primary">Add Feature</button>
    
</div>

<div id="feature_form" data-bind="visible: show" style="display:none;">
<h3>Feature Form</h3>
    <form action="" method="post" novalidate class="form">

        <div class="form-group">
          <label for="title">{{ form.title.label }}</label>
              {{ form.title(class_="form-control", **{'data-bind':'value: title'}) }}
              <!-- ko foreach: title_errors -->
              <span style="color: red;" data-bind="text: $data"></span>
              <!-- /ko -->
        </div>

        <div class="form-group">
          <label for="description">{{ form.description.label }}</label>
              {{ form.description(class_="form-control", **{'data-bind':'value: description'}) }}
              <!-- ko foreach: description_errors -->
              <span style="color: red;" data-bind="text: $data"></span>
              <!-- /ko -->
        </div>
        
        <div class="form-group">
          <label for="client">{{ form.client.label }}</label>
              {{ form.client(class_="form-control", **{'data-bind':'value: client'}) }}
              <!-- ko foreach: client_errors -->
              <span style="color: red;" data-bind="text: $data"></span>
              <!-- /ko -->
        </div>
        
        <div class="form-group">
          <label for="client_priority">{{ form.client_priority.label }}</label>
              {{ form.client_priority(class_="form-control", **{'data-bind':'value: client_priority'}) }}
              <!-- ko foreach: client_priority_errors -->
              <span style="color: red;" data-bind="text: $data"></span>
              <!-- /ko -->

        </div>
        
        <div class="form-group">
          <label for="target_date">{{ form.target_date.label }}</label>
              {{ form.target_date(class_="form-control", **{'data-bind':'value: target_date'}) }}
              <!-- ko foreach: target_date_errors -->
              <span style="color: red;" data-bind="text: $data"></span>
              <!-- /ko -->

        </div>
        
        <div class="form-group">
          <label for="product_area">{{ form.product_area.label }}</label>
              {{ form.product_area(class_="form-control", **{'data-bind':'value: product_area'}) }}
              <!-- ko foreach: product_area_errors -->
              <span style="color: red;" data-bind="text: $data"></span>
              <!-- /ko -->

        </div>
        <button data-bind="click: saveFeature" class="btn btn-primary">Submit</button>
        <button data-bind="click: cancel" class="btn btn-danger">Cancel</button>
    </form>
</div>
{% endblock %}